*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Roboto Mono',monospace;
  min-height: 40px;
  background-image: url('imagens/distorção.jpg');
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

footer > p > a {
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    color: white    ;
}